#container {
    display: grid;
    grid-template-columns:1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    height: 100px;
    margin: 0;
    background-color: black;
    grid-template-areas: 
	"nav-1 nav-1 nav-1"
	"main main main"
    "footer footer footer"
    "contact contact contact";
}

body {
	color: white;
}
#Nav {
	grid-area: nav-1;
	background-color: black;
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr;
	margin: 0;
	grid-template-areas: "nav";
	margin-left: 10%;
	margin-right: 10%;
}

#mainNav {
	grid-area: nav;
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	height: auto;
	margin: 0;
	grid-template-areas: "aboutMe projects workExp hobbies contact";
}

#aboutMe {
	grid-area: aboutMe;
}

#projects {
	grid-area: projects;
}

#workExp {
	grid-area: workExp;
}

#hobbies {
	grid-area: hobbies;
}

#contact {
	grid-area: contact;
}

#mainContent{
    grid-area: main;

}

#footer{
    grid-area: footer;
}

#mainContent {
	grid-area: main;
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr;
	height: auto;
	margin: 0;
	grid-template-areas: 
	"cover"
	"journey"
	"cv";
}

#wallpaper {
	grid-area: cover;
	width: auto;
	height: 100vh;
	background-image: url("https://i.redd.it/7kxq50ipyvca1.jpg");
	background-size: cover;
	position: relative;
}
#wallpaper h1 {
	color: white;
	font-size: 500%;
	line-height: 60vh;
	text-align: left;
	margin-left: 10%;
	

}
#journey{
	grid-area: journey;
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr;
	height: auto;
	margin: 0;
	grid-template-areas: 
	"Title  Title  Title"
	"cv  Work-Experience  Projects-s";
}
#journey h1{
	grid-area: Title;
}
#WorkExperience{
	grid-area: Work-Experience;
}
#CV{
	grid-area: cv;
}
#Projects-s{
	grid-area: Projects-s;
}
#journey img{
	border-radius: 50%;
	height: 100%;
	width: 50%;
}